@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html, body {
  background-color: #2b2d31;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2B2D31', endColorstr='#FF1B1C1D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmQzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiMWMxZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2d31), color-stop(100%, #1b1c1d));
  background-image: -webkit-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: -moz-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: -o-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white; }

body {
  overflow: hidden; }

.oswald {
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif; }

.loadingOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2b2d31;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2B2D31', endColorstr='#FF1B1C1D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmQzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiMWMxZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2d31), color-stop(100%, #1b1c1d));
  background-image: -webkit-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: -moz-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: -o-linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  background-image: linear-gradient(top, #2b2d31 0%, #1b1c1d 100%);
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center; }
  .loadingOverlay .middle {
    width: 250px;
    margin: 0 auto; }
    .loadingOverlay .middle span.message {
      display: inline-block;
      font-size: 12px;
      margin-top: 20px;
      text-transform: uppercase;
      letter-spacing: 2px; }

header {
  position: relative;
  width: 100%;
  background: url(img/header_bg.jpg) top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px; }
  header.retina {
    background-image: url(img/header_bg@2x.jpg); }
  header .container {
    width: 90%;
    margin: 0 auto; }
  header .top_level {
    padding-top: 45px; }
    header .top_level .logo {
      width: 160px;
      height: 96px;
      background: url(img/logo.png) no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      header .top_level .logo.retina {
        background-image: url(img/logo@2x.png); }
  header .bottom_level {
    position: absolute;
    bottom: 50px; }
    header .bottom_level h1 {
      font-size: 48px;
      font-weight: 300;
      line-height: 56px;
      text-transform: uppercase;
      margin-top: 140px; }
    header .bottom_level button {
      margin-top: 35px;
      background: transparent;
      border: 1px solid white;
      padding: 15px 25px;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      header .bottom_level button:hover {
        background: white;
        color: #2b2d31; }

.about .lvl {
  white-space: nowrap; }
.about .block {
  display: inline-block;
  vertical-align: top;
  background: white;
  width: 50%;
  height: 300px;
  color: black;
  padding: 25px 40px;
  white-space: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }
  .about .block.pic1 {
    background: url(img/descr1.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .about .block.pic2 {
    background: url(img/descr2.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .about .block.pic3 {
    background: url(img/descr3.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .about .block.pic1:hover, .about .block.pic2:hover, .about .block.pic3:hover {
    background-position: bottom center; }
  .about .block h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px; }
  .about .block p {
    font-size: 14px;
    line-height: 24px;
    overflow: auto;
    max-height: 80%; }
    .about .block p span.break {
      display: block;
      margin-top: 10px; }

h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px; }

.gallery {
  max-width: 100%; }

#catalogue {
  margin: 0 auto; }
  #catalogue:hover .lookbookItem {
    opacity: 0.7; }
  #catalogue .lookbookItem {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #catalogue .lookbookItem:hover {
      opacity: 1; }
    #catalogue .lookbookItem .inner {
      position: relative; }
      #catalogue .lookbookItem .inner .priceBlock {
        position: absolute;
        bottom: 0;
        text-align: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.4);
        padding: 5px 10px;
        width: 100%;
        font-size: 18px; }
        #catalogue .lookbookItem .inner .priceBlock .rub {
          opacity: 0.8;
          font-size: 16px;
          padding-left: 4px; }
  #catalogue img.item {
    max-width: 312px;
    opacity: 0; }

#fit-width .masonry {
  margin: 0 auto; }

.fotorama, .fotorama__wrap {
  margin: 0 auto; }

.fotorama-wrapper {
  position: relative; }

p.crew {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 40px; }
  p.crew a {
    color: #a1bbef; }

.manifiest_content_wrapper {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  position: absolute;
  bottom: 90px;
  left: 20px;
  z-index: 100;
  display: none; }
  .manifiest_content_wrapper .manifiest_content {
    max-width: 500px;
    min-width: 100px;
    width: 100%;
    max-height: 450px;
    line-height: 24px;
    overflow: auto; }
    .manifiest_content_wrapper .manifiest_content .name {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 10px; }

.__lookbookItemContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow: auto; }
  .__lookbookItemContainer .lookbookItemContainer {
    position: absolute;
    width: 80%;
    background: white;
    color: black;
    z-index: 2;
    min-height: 550px;
    max-height: 650px; }
    .__lookbookItemContainer .lookbookItemContainer .successMessage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      text-align: center;
      display: none;
      z-index: 100; }
      .__lookbookItemContainer .lookbookItemContainer .successMessage .info {
        padding-top: 24%;
        width: 400px;
        margin: 0 auto;
        display: inline-block; }
        .__lookbookItemContainer .lookbookItemContainer .successMessage .info b {
          font-size: 24px;
          line-height: 46px; }
        .__lookbookItemContainer .lookbookItemContainer .successMessage .info button {
          border: none;
          background: #869e63;
          font-size: 18px;
          color: white;
          margin-top: 10px;
          padding: 10px 14px;
          cursor: pointer;
          outline: none;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          .__lookbookItemContainer .lookbookItemContainer .successMessage .info button:hover {
            background: #7b9457; }
    .__lookbookItemContainer .lookbookItemContainer .fotorama__thumb-border {
      border-color: black; }
    .__lookbookItemContainer .lookbookItemContainer .fotorama, .__lookbookItemContainer .lookbookItemContainer .fotorama__wrap {
      margin: 0; }
    .__lookbookItemContainer .lookbookItemContainer .innerWrapper {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px 40px; }
      .__lookbookItemContainer .lookbookItemContainer .innerWrapper .leftside, .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside {
        display: inline-block;
        vertical-align: top;
        width: 40%; }
      .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside {
        width: 60%;
        height: 100%; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside h4.title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 14px; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside p.details {
          font-size: 14px;
          line-height: 24px;
          height: 220px;
          overflow: auto; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside .price {
          display: inline-block;
          vertical-align: bottom;
          margin-bottom: 3px;
          font-size: 30px;
          margin-right: 10px; }
          .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside .price p.rub {
            opacity: 0.6; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside ul.sizes {
          display: inline-block;
          margin-top: 20px; }
          .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside ul.sizes > li {
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            background: #e9e8f0;
            margin-right: 2px;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
            color: #525252;
            border: 1px solid transparent; }
            .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside ul.sizes > li.active {
              border: 1px solid #525252;
              background: transparent;
              cursor: default; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside label {
          font-weight: bold;
          display: block;
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 10px; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside textarea {
          display: block;
          width: 100%;
          border: 1px solid #d5d5d5;
          height: 100px;
          outline: none;
          resize: none;
          padding: 15px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside button.sendRequest {
          color: white;
          background: black;
          border: 1px solid black;
          padding: 8px 14px;
          outline: none;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;
          float: right;
          margin-top: 12px;
          text-shadow: 0px 1px 0px #797070;
          -webkit-transition: all 0.05s ease-in-out;
          -moz-transition: all 0.05s ease-in-out;
          -o-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out; }
          .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside button.sendRequest:hover, .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside button.sendRequest:focus {
            background: #4c4c4c;
            border-color: #4c4c4c; }
          .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside button.sendRequest:active {
            background-color: white;
            color: black;
            border-color: black;
            text-shadow: 0 1 0 rgba(0, 0, 0, 0.1); }
        .__lookbookItemContainer .lookbookItemContainer .innerWrapper .rightside span.info {
          font-size: 12px;
          line-height: 16px;
          margin-top: 14px;
          display: block;
          color: #474747; }
  .__lookbookItemContainer .lookbookItemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .__lookbookItemContainer .lookbookItemOverlay:hover {
      background-color: rgba(0, 0, 0, 0.1); }

footer .inner_wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 90px; }
  footer .inner_wrapper .leftside, footer .inner_wrapper .rightside {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    footer .inner_wrapper .leftside img, footer .inner_wrapper .rightside img {
      max-width: 100%; }
  footer .inner_wrapper .leftside .shop {
    background: url(img/descr3.jpg) top center no-repeat;
    height: 240px;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out; }
  footer .inner_wrapper .rightside {
    padding-left: 25px; }
    footer .inner_wrapper .rightside p.info {
      font-size: 14px;
      line-height: 24px; }
    footer .inner_wrapper .rightside a {
      display: block;
      color: #afdaff;
      font-size: 18px;
      margin-top: 24px;
      text-decoration: none; }
      footer .inner_wrapper .rightside a span {
        border-bottom: 1px solid rgba(175, 218, 255, 0.8); }
footer:hover .shop {
  background-position: bottom center; }
